*{
  margin: 0;
  padding: 0;
  color: var(--white) !important;
  scroll-behavior: smooth;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:root{
  --white:rgba(240, 240, 240, 0.91);
}
body{
  background: #121212;
}
 a{
  transition: all 0.1s;
  text-decoration: none;
}
 a:hover {
  scale: 1.04;
}
.img_container{
  height: 250px;
  max-width: 100%;
  object-fit: cover;
}
footer,nav{
  background: linear-gradient(to bottom , #3B2339 ,#121212) no-repeat;
}
navbar-toggler-icon{
    fill: var(--white);
}
.service_item{
  transition: all 0.5s ease;
  border-radius: 12px;
}
.service_item:nth-child(1):hover{
  background-color: #1E293B;
}
.service_item:nth-child(1){
  border-left: 2px solid dodgerblue;
}

.service_item:nth-child(2):hover{
  background-color: rgba(180, 100, 86, 0.321);
}
.service_item:nth-child(2){
  border-left: 2px solid tomato;
}

.des{
  font-size: 12px;
  color: grey;
  font-weight: 500;
}
.underline{
  text-decoration: underline;
}
.hosted_link{
  padding: 4px 15px;
  border-radius:5px;
  border: 1px solid #343232;
  background-color: rgb(223, 220, 220);
  color: #121212 !important;
}
.hosted_link:hover{
  background-color: rgb(190, 182, 182);
}

.img{
  object-fit:cover;
}